/* Стили страницы WB Auth Register */

/* Кнопки */
.wb-register-buttons > web-button {
    flex: 1;
}

@media (max-width: 1023px) {
    .wb-register-buttons {
        flex-direction: column;
    }
}

/* Иконка тултипа */
.signup-tooltip-icon {
    vertical-align: middle;
    margin-left: 4px;
}

.tooltip2 {
    max-width: max-content !important;
}

/* Тултип */
.signup-tooltip {
    width: 343px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}

@media (max-width: 375px) {
    /* Текст подсказки - уменьшаем шрифт */
    .signup-hint-text {
        font-size: 10px;
    }
    
    /* Тултип на мобилке */
    .signup-tooltip {
        width: 248px;
        font-size: 10px;
    }
}
