@page
@using FunSun.Auth.Pages.ForgotPassword
@inject IHtmlLocalizer<IndexModel> Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2 class="Heading_1 m-0 mb-32">Восстановление пароля</h2>

<div class="auth-card bg-white radius-16 shadow-5dp py-32 px-24 w-100p md3-py-24 md3-px-16">
    <form id="forgot-password-form" method="post">

        <p class="forgot-password__text c-black mb-24" style="text-align: center;">
            Пожалуйста, укажите вашу почту, мы отправим электронное письмо для восстановления пароля. Если оно не придет, обязательно проверьте папку со спамом
        </p>

        <web-input
            class="mb-24"
            name="Email"
            type="email"
            placeholder="Введите email для восстановления*"
            label="Email"
            autocomplete="email"
        ></web-input>

        <web-button id="submit-reset" type="submit" class="button_yellow w-100p">
            Отправить
        </web-button>
    </form>
</div>
