@page
@using FunSun.Auth.Pages.ForgotPassword
@inject IHtmlLocalizer<IndexModel> Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2 class="Heading_1 m-0 mb-32">Восстановление пароля</h2>

<div class="auth-card bg-white radius-16 shadow-5dp py-32 px-24 w-100p md3-py-24 md3-px-16">
    <p class="body_S c-base forgot-sent__text">
        Мы отправили вам электронное письмо с инструкцией для восстановления пароля. Если оно не пришло, пожалуйста, проверьте папку со спамом
    </p>
</div>
