@page
@using FunSun.Auth.Pages.ResetPassword
@inject IHtmlLocalizer<IndexModel> Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2 class="Heading_1 m-0 mb-32">Изменение пароля</h2>

<div class="auth-card bg-white radius-16 shadow-5dp py-32 px-24 w-100p md3-py-24 md3-px-16">
    <web-alert class="mb-24">
        <span slot="subtitle">
            Ссылка восстановления пароля недействительна. Восстановите пароль еще раз
        </span>
    </web-alert>

    <web-button id="go-to-forgot" type="button" class="button_yellow w-100p">
        Восстановить
    </web-button>
</div>

<div class="auth-footer mt-32">
    <p class="footnote_L c-gray">
        Данный сайт защищен reCAPTCHA (<a href="https://policies.google.com/privacy" class="c-gray">конфиденциальность</a>, <a href="https://policies.google.com/terms" class="c-gray">условия обслуживания</a>)
    </p>
    <p class="footnote_L c-gray">
        Все права защищены Ⓒ <a href="https://fstravel.com/" class="c-gray">FUN&SUN</a> 2026
    </p>
</div>
