/* Footer для страниц авторизации */

.auth-footer p {
    margin: 0 0 8px 0;
}

.auth-footer a {
    text-decoration: underline;
}

.auth-footer a:hover {
    opacity: 0.8;
}

@media (max-width: 1023px) {
    .auth-footer {
        width: 101%;
    }
}
