/* Глобальные стили приложения */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.button_alternate {
    background: #fff;
    color: #4872F2;
    border: 1px solid #4872F2;
}
.button_alternate .button {
    border: none;
}

.button_alternate:hover {
    color: #3965ee;
    border-color: #3965ee;
}

@media (max-width: 1023px) {
    .button_alternate {
        padding: 0;
    }
    .button_alternate .button {
        padding: 12px 13px;
    }
    
    /* Heading_1 на мобилке */
    h2.Heading_1 {
        line-height: 32px;
    }
}